.hero-bg {
  background-image: linear-gradient(
      rgba(30, 25, 62, 0.8),
      rgba(30, 25, 62, 0.8)
    ),
    url("../../../public/HeroBlocks.jpg");
  backdrop-filter: blur(var(--blur-sm));
  background-size: cover;
  background-position: center;
}
.joinClub-bg {
  background-image: url("../../../public/joinBenefits.png");
  background-size: cover;
  background-position: center;
}
.custom-bg {
  background-image: url("../../../public/AllProductbg.png");
  background-size: cover;
  background-position: center;
}
